@import '../../../app/app.component.scss';
.head {
    color: orangered;
    font-family: $osw;
}

.title {
    color: coral;
}

.desc {
    color: blanchedalmond;
}

.w {
    color: white
}

ion-grid {
    ion-card {
        background: #ffffff;
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        ion-card-content {
            padding: 0 !important;
        }
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 5px;
    margin-bottom: 1px;
    font-family: $osw;
    color: slategrey;
}

.i {
    color: indianred;
}